<!Doctype html>
    <head>
        <title>Homepage</title>
        <link  ref="stylesheet"  type = "text/css" href ="style.css">
    </head>

    <body>
        
        <div class="banner"> </div>
      
        <div class="about_div">

        <h1 class="PageTitle">About Page</h1>
        <br>
        <p >Welcometo to businesses @ CPUT.This websites allows you to browse and enquire about services and products offered by CPUT students
            By using the services and products from this website you are helping CPUT students with there studys and helping them lightenthe burden of student financial stress.
            By helping them earn additional funds trough website.So we hope you enjoythe experience<p>
            </p>
        </div>

        <div class="buttonList">
            <a routerLink="/sighnup"> <button mat-raised-button type="button" class="button">Sighn up</button></a>
            <a routerLink="/login"> <button mat-raised-button type="button" class="button">Login</button></a>
            <a routerLink="/create-busniss"><button mat-raised-button type="button" class="button">Create Busniss Acount</button></a>
            <a routerLink="/surf-business"><button mat-raised-button type="button" class="button">Surf Business</button></a>            
        </div>

<div class="footer"></div >

        
    </body>
<html>
