<!Doctype html>
    <head>
        <title>Sign-in Page</title>
        <link  ref="stylesheet"  type = "text/css" href ="style.css">
    </head>

    <body>
        

        <div class="banner"> </div>

        
        <div class=login_form>

            <mat-form-field appearance="outline" class="modal-content">
                <div class ="container">
                  <h1>Login </h1>
                <p></p>
          
                
                  <p>Username</p><input  type="text" matInput placeholder="Username">
               
              
                <p>Password</p><input  type="text" matInput placeholder="password">
              
          
              <div class="buttonList">
                  <button mat-raised-button onclick="alert('cancelled')"> Login</button>
                  <button mat-raised-button onclick="alert('form submitted')">Cancel</button>
              </div>
          
            </div>

        </mat-form-field>   

        <div class="footer"></div >
           



<html>