<!Doctype html>
    <head>
        <title>Sign-in Page</title>
        <link  ref="stylesheet"  type = "text/css" href ="style.css">
    </head>

    <body>
        

        <div class="banner"> </div>
        <div class=login_form>

        <form>
         

            <h2 class="PageTitle ">Log in</h2>

              
                <input class="login_input" type = "text" placeholder="Name"><br>
                <input class="login_input" type = "text" placeholder="Password"><br>
                <button mat-raised-button type="button" class="button">Login</button>
                <button mat-raised-button type="button" class="button">Cancel</button>
           
        </form>
        </div>

        <div class="footer"></div >
           
    </body>


<html>