<!DOCTYPE html>
    <head>
        <title>SIGN IN</title>
        <link  ref="stylesheet"  type = "text/css" href ="style.css">
    </head>

<body class="body">

    <div class ="banner"> </div> 
    
    <div class ="signup_div">

    <h1> SIGN IN</h1>
    <br>
    <mat-form-field appearance="outline">
       <p> 
        <input matInput placeholder="email address">
     </p>
    <td>
        <input matInput placeholder="first name">
      </td>
      <td>
        <input matInput placeholder="last name">
    </td>
      <p>  
        <input matInput placeholder="password">
    </p>
       <p> 
        <input matInput placeholder="confirm password">
    </p>
      </mat-form-field>
    </div>

    <div class="checkbox">
    <input type="checkbox">I accept the Terms & Conditions apply
  </div>

    <div class="buttonList">
        <button mat-raised-button onclick="alert('you have cancelled the application')"> Cancel</button>
        <button mat-raised-button >Sign up</button>
    </div>
        
<div class="footer">Footer is there</div>



</body>
<html>