.signup_div{
    text-align:center;
    margin: 5vh 20vh 5vh 20vh ;
    
}

.banner{
    background-image: url(banner.PNG);
    background-size: 100% 100%;
    background-color: rgb(0,121,255);
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;     
}
.logo_img{
    
    margin: 0px 0px 0px 50px;
}

.body{ 
   
    width:100%;
    height:95vh;
    margin: 0px;
    box-sizing: border-box;
  
    }
    
    /* Full-width input fields */
input[type=text], input[type=password] {
    width: 98%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  

  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

    .container {
           padding: 16px;
         }

    .modal-content {
           background-color: #fefefe;
           margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
           border: 1px solid #888;
           width: 80%; /* Could be more or less, depending on screen size */
         }
    


.checkbox{
    text-align: center;
}
.buttonList{
    text-align: center;
    margin: 10vh 20vh 10vh 20vh;
    height: 20vh;
    border-top: 10vh;
}
.button{
    margin: 0px 20px 0px 20px;
}

.footer{
    
    background-color: rgb(0,121,255);
    position: absolute;
    height: 20vh;
    width: 100%;
    margin-bottom: 20px;

}
@media(max-width:800px){

}