<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CPUT Businesses</title>
 <link  ref="stylesheet"  type = "text/css" href ="surf-business.component.css">

  <body>
    <div class="banner"> </div>
    <a routerLink="/about"> <button mat-raised-button type="button" class="button">About</button></a>
      <a routerLink="/sighnup"> <button mat-raised-button type="button" class="button">Sign-in</button></a>
      <a routerLink="/login" > <button mat-raised-button type="button" class="button">Login</button></a>
      <a routerLink="/create-busniss"> <button mat-raised-button type="button" class="button">Create Business Account</button></a>
    

    <h2>CPUT Business</h2>
    <p>Here are the businesses you can find at CPUT.</p>
    
    <div class="row">
      <div class="column">
        <div class="card">
          <h3>Thrive Tech</h3>
          <p>Product/Service: Create Posters</p>
          <p>Pricing: Start from R150</p>
          <p>Employee: Bheka</p>
          <p>Email Address: Bheka.tech@thrivetech.com</p>
        
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <h3>Card 2</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h3>Card 3</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

    <div class="footer">Footer is there</div>
    
    </body>
    <html>
